.item{
  background-color: rgb(238, 238, 238);
  padding: 30px;
  width: 200px;

}

.status-box{
  background-color: rgb(238, 238, 238);
  justify-content: flex-start;
  width: 1000px;
  margin: 0 auto 0 auto;
}

.ticketText{
  padding-right: 190px;
}

.buttonAlign{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;

}

.alignDistance{
  display: flex;
  gap: 450px;
  align-items: last baseline;
}

.chatButton{
  width: 160px;
  height: 35px;
  background-color: #111686;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3%;
}

.react-icon{
  width: 75px;
}

.title{
  font-weight: normal;
}

.item-title{
  color: #1B2A41;
  margin-top: 1px;  
}

.carrousel{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
